* {
  margin: 0;
  padding: 0;
}

:root {
  --orange-primary: rgb(255, 69, 0);
  --orange-primary-opacity: rgba(255, 69, 0, 0.2);
  --orange-secondary: rgb(255, 165, 0);
  --blue-primary: rgb(38, 77, 228);
  --yellow-primary: rgb(255, 255, 0);
  --gray-primary: rgb(220, 220, 220);
}

body {
  font-family: 'poppins', sans-serif;
  padding: 5em 15em;
}

header {
  display: flex;
  align-items: center;
  gap: 2em;
}

header > img {
  width: 170px;
  border-radius: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.header-information {
  display: flex;
  flex-direction: column;
}

.header-information > p {
  color: var(--orange-primary);
  font-weight: 500;
}

.header-information > h2 {
  font-size: 3rem;
}

.role-wrapper {
  display: flex;
  gap: 1em;
}

.role {
  display: flex;
  gap: 5px;
  align-items: center;
}

.role > .dot {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

.role > .dot.orange {
  background-color: var(--orange-primary);
}

.role > .dot.blue {
  background-color: var(--blue-primary);
}

.role > .dot.yellow {
  background-color: var(--yellow-primary);
}

main {
  margin-top: 5em;
}

nav {
  display: flex;
  gap: 20px;
}

.nav-link {
  flex-grow: 1;
  position: relative;
  padding: 10px 0;
  color: black;
  text-decoration: none;
}

.nav-link::before {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 3px;
  background: var(--gray-primary);
}

.nav-link:hover::before {
  background: linear-gradient(to right, var(--orange-secondary), var(--orange-primary));
}

.nav-link.active::before {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(to right, var(--orange-secondary), var(--orange-primary));
}

.nav-link.active {
  background: linear-gradient(var(--orange-primary-opacity), white 70%);
}

.nav-link > p {
  text-align: center;
}